
  form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 30px 0 30px 0;
  }
  .search-input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    
  }
 
  
  
  .search-button {
    background-color: #4c8bf5;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #3b76db;
  }
  
  
